name: Update Total Repo Size
on:
  schedule:
    - cron: '0 0 * * 0'  # Weekly
  workflow_dispatch:

jobs:
  update-badge:
    runs-on: ubuntu-latest
    steps:
      - name: Calculate total repo size
        uses: ankitskvmdam/github-repo-size-badge-action@v1
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          username: Sou1lah
