name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # Daily at midnight
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      # Snake Animation
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: Sou1lah
          svg_out_path: dist/github-contribution-grid-snake.svg
          colors:
            - "#8B0000"
            - "#FF6B6B"
            - "#FFCCCB"
            - "#FFFFFF"
            - "#1A0F0F"

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
